@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

nav{
    background-color: #fff;
    box-shadow: 0px 0px 6px #3a3a3a;
    margin-bottom: 10px;
}

nav .container{
    display: flex;
    align-items: center;
    font: 500 20px Roboto, sans-serif;
    color: #6215D8;    
    padding: 0px 60px;
    font: 500 18px Roboto, sans-serif;
}

#header a{
    color: #6215D8;    
    text-decoration: none;
    transition: color 0.5s;
}

nav a:hover{
    color: #fb8500;
    text-decoration: none;
}

nav .right{
    margin-left: auto;
}

#logo{
    width: 60px;
    margin: 10px 0;
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#logo:hover{
    width: 62px;
}

#main{

    height: 400px;
    font: 500 15px Roboto, sans-serif;
    padding: 25px 25px 0;
    border-radius: 5px;
}

#carousel{
    max-width: 100%;
    text-align: center;
}

